* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

%flex-column {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  position: fixed !important;
  top: 0;
  z-index: 12;
  width: 100%;
  background: transparent;
  @extend %flex-center;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: #252831;
  // color: #fff;
}

.navbar__items {
  width: 100%;
  padding: 0 10px;
  @extend %flex-center;
  justify-content: space-around;
}

.navbar__logo {
  width: 140px;
  height: 23px;
  margin-top: -10px;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.navbar__list {
  max-width: 550px;
  @extend %flex-center;
  justify-content: end;
  padding: 10px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  gap: 40px;
  li {
    list-style: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    .navbar__link {
      color: #fff;
      text-decoration: none;
    }
    .navbar__link:hover {
      color: #f29824;
    }
    h5 {
      margin-bottom: -5px;
    }
    h5 > span:first-child {
      cursor: pointer;
      color: #f29824;
    }
    h5 > span:last-child:hover {
      cursor: pointer;
      color: #f29824;
    }
  }
  li:nth-child(2) {
    margin-right: 50px;
  }
}

.navbar__auth {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  padding: 10px 20px;
  transition: 0.3s all;
  border-radius: 10px;
}

.navbar__auth:hover {
  padding: 10px 20px;
  border-radius: 10px;
  border-radius: 10px;
  background-color: #f29824;
}

.bar {
  display: none;
}

.responsive__navbar {
  width: 370px;
  height: 100vh;
  background: #252831;
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  padding: 20px;
  left: -400px;
  transition: 0.3s all;
  .responsive__navbar-top {
    width: 100%;
    @extend %flex-center;
    justify-content: space-between;
    h1 {
      color: #f29824;
      font-size: 24px;
      font-weight: bold;
    }
    .responsive__exit {
      position: relative;
      div {
        position: absolute;
        right: 0;
        top: -5px;
        width: 20px;
        height: 4px;
        background-color: #f29824;
      }
      div:first-child {
        transform: rotate(45deg);
      }
      div:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}

.bar__left {
  transition: 0.3s all;
  left: 0;
  cursor: pointer;
}

.responsive__navbar-body {
  margin-top: 30px;
  @extend %flex-column;
  gap: 10px;
  align-items: start;
}
.nav__body-text {
  color: #f29824;
  font-size: 22px;
  text-decoration: none;
}

.search {
  margin-left: 200px;
  position: relative;
  transition: 0.3s all;
}

.search-cont {
  transition: 0.3s all;
  position: relative;
}

.navbar__search {
  width: 0;
  opacity: 0;
  margin-right: 10px;
  border: none;
  border-bottom: 1px solid #704f24;
  padding: 0px 10px 5px;
  background: transparent;
  outline: none;
  color: #fff;
  position: absolute;
  left: 0;
  transition: 0.3s all;
  z-index: -1;
}

.search__icon:hover {
  color: #f29824;
}

.change__navbar__search {
  left: -220px;
  width: 200px;
  opacity: 1;
  transition: 0.3s all;
  z-index: 1;
}

.navbar__list-width {
  max-width: 750px;
}

.search__bar {
  position: absolute;
  width: 330px;
  height: 200px;
  background: #fff;
  top: 60px;
  border-radius: 6px;
  left: -220px;
  display: grid;
  gap: 10px;
  padding: 10px;
  overflow-y: scroll;
  display: none;
  transition: 0.3s all;
}

.search__bar-block {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

.search__bar {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #f29824 #f0f0f0; 
}

.scrollbar-thumb {
  border-radius: 10px;
  background-color: #888888; 
}

.scrollbar-track {
  border-radius: 10px;
  background-color: #f0f0f0; 
}

.search__value {
  @extend %flex-center;
  justify-content: start;
  gap: 5px;
  margin-top: 5px;
}

.search__title {
  color: #000;
  font-size: 14px;
}

.search__img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 789px) {
  .navbar__auth {
    padding: 0 6px 6px 0 !important;
  }
  .change__navbar__search {
    // top: 100px;
    left: 0px;
    width: 200px;
    opacity: 1;
    transition: 0.3s all;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 90%;
    transition: .3s all;
}
.search__bar {
  left: 0;
  width: 80vw;
}
.search__icon-2 {
    position: absolute;
    right: 10px;
    top: 20px;
    transition: .3s all;
}
.search {
    position: absolute;
    top: 100px;
    right: 10%;
    background-color: #252831;
    width: 80vw;
    height: 60px;
    border-radius: 10px;
    transition: .3s all;
  }
  .navbar__list {
    width: 320px;
    border: none;
    li:nth-child(1),
    li:nth-child(2) {
      display: none;
    }
    .navbar__entr {
      display: none;
    }
    .navbar__entr-icon {
      font-size: 25px;
      font-weight: 900;
    }
  }
  .bar {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 4px;
    div {
      width: 25px;
      height: 4px;
      border-radius: 4px;
      background-color: #fff;
    }
  }
  .navbar__list {
    gap: 10px;
    width: 220px;
  }
  .navbar__items {
    padding: 0;
  }
}
